/**************************************************
 * Reset 
 **************************************************/

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
}




/**************************************************
 * Globals
 **************************************************/


:root {
    /* Credit to https://huey.design for the color palette generation */
    --rose-0: #ece2e6;
    --rose-1: #dac6cf;
    --rose-2: #caa9b8;
    --rose-3: #bb8da2;
    --rose-4: #ae708e;
    --rose-5: #a2507a;
    --rose-6: #8c3764;
    --rose-7: #6a294c;
    --rose-8: #491d35;
    --rose-9: #2b111f;
}

body {
    line-height: 1.5;
    font-size: 16px;
}


/**************************************************
 * Specifics
 **************************************************/
