/**************************************************
 * Reset 
 **************************************************/

*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

button,
input[type="submit"],
input[type="text"],
input[type="search"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
    cursor: pointer;
}




/**************************************************
 * Globals
 **************************************************/


:root {
    /* Credit to https://huey.design for the color palette generation */
    --rose-0: #ece2e6;
    --rose-1: #dac6cf;
    --rose-2: #caa9b8;
    --rose-3: #bb8da2;
    --rose-4: #ae708e;
    --rose-5: #a2507a;
    --rose-6: #8c3764;
    --rose-7: #6a294c;
    --rose-8: #491d35;
    --rose-9: #2b111f;


    --font-color-light: #ffffff;
    --font-color-dark: #000000;
    --font-color-medium: #555555;

    --background-color-light: #ffffff;
    --background-color-medium: #eeeeee;
    --background-color-dark: var(--rose-1);

    --shadow-gray: #a8a8a8;
}


body {
    line-height: 1.5;
    font-size: 16px;
    background-size: auto 100%;
    background-color: var(--background-color-medium);
    background-repeat: repeat;
}

/**************************************************
 * Placeholders & Styling Templates
 **************************************************/

.pfp {
    width: 75px;
    height: 75px;
    border-radius: 75px;
}

.card {
    border-radius: 10px;
    background-color: var(--background-color-light);
    padding: 10px;
    box-shadow: 0px 1px 2px 0px var(--shadow-gray);
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
    display: inline block;
}


/**************************************************
 * Specifics
 **************************************************/
.wrapper {
    display: grid;
}


.wrapper.master {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    z-index: -1;
    background-color: transparent;
    height: 100vh;
    width: 100vw;
}

/**************************************************
 * Header
 **************************************************/
.wrapper.header {
    grid-column: 2 / 3;
    background-color: var(--rose-1);
    box-shadow: 0px 2px 2px 0px var(--shadow-gray);

    /* Note: I'm using "phantom columns" here to make
     * the grid gap act as though it were a margin-left and margin-right */
    grid-template-columns: 0fr 3fr 2fr 0fr;
    grid-template-rows: 1fr 1fr 0px;

    gap: 1rem;
}


.wrapper.search {
    grid-column: 2 / 3;
    grid-template-columns: min-content 1fr;
    align-items: center;
}


.icon.search {
    height: 1rem;
    width: 1rem;
    display: inline block;
}

input[type="text"].searchbar,
input[type="search"].searchbar {
    /* background-color: #aaaaaa; */
    background-color: var(--background-color-medium);
    height: 2ch;
    border-radius: 3ch;
    caret-color: var(--background-color-dark);
    cursor: text;
    padding: 1rem;
    margin: 0px 0.5rem;
    /* TODO Replace default styling with my own  */
}

.wrapper.greeting {
    grid-column: 2 / 3;
    align-items: center;

    grid-template-columns: auto auto 1fr;
    grid-auto-flow: column;
    column-gap: 1rem;

    grid-template-areas:
        "pfp . ."
        "pfp . .";

    &>.pfp {
        grid-area: pfp;
        justify-self: center;
    }

    &>span {
        font-weight: bold;
    }

    &>span:first-of-type {
        font-size: 0.75rem;
        align-self: self-end;
    }

    &>span:last-of-type {
        font-size: 1rem;
        align-self: self-start;
    }

}

.wrapper.profile-options {
    grid-column: 3 / 4;
    grid-template-columns: 1fr repeat(3, auto);
    align-items: center;
    gap: 1rem;


    &>.icon.notifications-on,
    &>.icon.notifications-off {
        grid-column: 2;
    }

    &>.pfp {
        grid-column: 3;
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }

    &>.username {
        grid-column: 4;
        font-weight: bold;
    }
}


.wrapper.actions {
    grid-column: 3 / 4;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1rem;

    &>button {
        color: var(--font-color-light);
        background-color: var(--rose-7);
        border-radius: 3rem;
        height: 3rem;
    }
}




/**************************************************
 * Sidebar
 **************************************************/

.wrapper.sidebar {
    background-color: var(--rose-7);
    grid-row: 1 / 3;

    grid-auto-rows: min-content;
    box-shadow: 2px 0px 2px 0px var(--shadow-gray);
    padding: 0px 2rem;
}


.sidebar-item {
    color: var(--font-color-light);
    display: flex;
    align-items: center;

    &>img {
        margin: 0px 1rem;
    }

    &.large {
        font-size: 1.5rem;
        font-weight: bold;
    }
}


.sidebar-item.large>.icon {
    height: 2rem;
    width: 2rem;
}



.sidebar-item * {
    display: inline-block;
}

.sidebar-section {
    margin-bottom: 2rem;
    display: grid;
    gap: 0.5rem;
}



/**************************************************
 * Content
 **************************************************/

.wrapper.content {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: transparent;
    overflow-x: scroll;
    overflow-y: scroll;

    .content-section {
        display: grid;
        grid-template-rows: min-content 1fr;
        margin: 1rem;

        /* commented out flex alternative */
        /* display: flex; */
        /* flex-flow: column nowrap; */
    }

    /* .content-section>.wrapper {
    flex: 1;
} */
}


/*** Projects ***/

.section-projects {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.project-title {
    font-weight: bold;
}

.project-description {
    font-size: 0.6rem;
    color: var(--font-color-medium);
}

.project-card {

    border-left: 0.5rem solid orange;
    overflow: scroll;


    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;

    &:hover {
        box-shadow: 2px 2px 2px 0px var(--shadow-gray);
    }
}

.project-actions {
    place-self: end end;
}

.project-actions img {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/*** Announcements ***/

.section-announcements {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.wrapper.announcements {
    padding: 1rem;
}

.announcement-item {
    border-bottom: 1px solid var(--font-color-medium);
    padding-bottom: 1rem;
}

.title {
    font-weight: bold;
    font-size: 0.75rem;
}

.flavor {
    font-size: 0.5rem;
    color: var(--font-color-medium);
}

/*** Trending ***/

.section-trending {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

.trending-item {
    display: grid;

    grid-template-areas:
        "pfp handle"
        "pfp working-on";

    align-items: center;

    &>.pfp {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        grid-area: pfp;
        justify-self: center;
    }

}

.handle {
    font-size: 0.7rem;
    font-weight: bold;
    grid-area: handle;
    align-self: self-end;
}

.working-on {
    font-size: 0.8rem;
    grid-area: working-on;
    align-self: self-start;
    color: var(--font-color-medium);
}


.wrapper.projects {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    gap: 1rem;
}
